@using PortariaInteligente.Models;
@model dynamic

@{
    ViewData["Title"] = "Details";
}


<h4> Detalhes da Reunião </h4>

<table class="table">
    <thead bgcolor="#F0F8FF">
        <tr>
            <th>
                Assunto
            </th>
            <th>
                Data
            </th>
            <th>
                Hora
            </th>
            <th>
                Organizador
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (Reuniao a in Model.reuniao)
        {
        <tr>
            <td>
                @a.ReuniaoNome
            </td>
            <td>
                @a.ReuniaoData
            </td>
            <td>
                @a.ReuniaoHora
            </td>
            <td>
                @a.VisitadoID
            </td>

        </tr>
        }
     </tbody>
    <thead bgcolor="#F0F8FF">
        <tr>
            <th>
                Convidados
            </th>
            <th></th>
            <th></th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Convite p in Model.convites)
        {
            <tr>
                <td>
                    @p.VisitanteID
                </td>
            </tr>
        }
    </tbody>
 </table>

<div>
    @*<a asp-action="Edit" asp-route-id="@Model.reuniao.">Edit</a> |*@
    <a asp-action="Index">Voltar para Lista</a>
</div>
