@model PortariaInteligente.Models.Reuniao
@{
    ViewData["Title"] = "Details";
}


<h4>Detalhes da Reunião </h4>

<table class="table">
    <thead bgcolor="#F0F8FF">
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ReuniaoNome)
             </th>
            <th>
                @Html.DisplayNameFor(model => model.ReuniaoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReuniaoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Visitados)
            </th>
        </tr>
    </thead>
    <tbody>

            <tr>
                <td>
                    @Html.DisplayFor(model => model.ReuniaoNome)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ReuniaoData)
                </td>
                <td>
                    @Html.DisplayFor(model => model.ReuniaoHora)
                </td>
                <td>
                    @Html.DisplayFor(model => model.Visitados.VisitadoNome)
                </td>

            </tr>
       
    </tbody>
    <thead bgcolor="#F0F8FF">
        <tr>
            <th>
                Convidados
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (Convite p in Model.Convites)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => p.Visitantes.VisitanteNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => p.Visitantes.VisitanteEmail)
                </td>
            </tr>
        }
    </tbody>
</table>

<div>
    <a asp-action="Edit" asp-route-id="@Model.ReuniaoID">Editar</a> |
    <a asp-action="Index">Voltar para Lista</a>
</div>
