@model PortariaInteligente.Models.Convite

@{
    ViewData["Title"] = "ExibirConviteRecepcao";
}

<div>
    <h3>Exibir Visitante Recepção</h3>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visitantes.VisitanteNome)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.VisitanteNome)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visitantes.VisitanteEmail)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.VisitanteEmail)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visitantes.VisitanteCel)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.VisitanteCel)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visitantes.Empresa)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.Empresa)
        </dd>

        <dt class="col-sm-2">
            Tipo Docto
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.Documentos)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visitantes.DocumentoNumero)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.DocumentoNumero)
        </dd>

        <dt class="col-sm-2">Carro</dt>
        <dd class="col-sm-10"></dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visitantes.CarroMarca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.CarroMarca)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visitantes.CarroModelo)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.CarroModelo)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Visitantes.CarroPlaca)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Visitantes.CarroPlaca)
        </dd>
    </dl>
</div>
<div>
    <form>
        <button type="submit" class="btn btn-primary" asp-controller="Reunioes" asp-action="ConfirmarVisitaRecepcao" asp-route-id="@(Model.VisitanteID + "_" + Model.ReuniaoID)">confirmar</button>
    </form>

    <a asp-action="PainelRecepcao">Voltar para a Lista</a>
</div>
