@model IEnumerable<PortariaInteligente.Models.Reuniao>

@{
    ViewData["Title"] = "Index";
}

<h4>Listar Reuniões</h4>

<p>
    <a asp-action="Create">Criar Reunião</a>
</p>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-controller="Reunioes" asp-action="Index">
            <div class="form-group">
                <label class="col-form-label">Data:</label>
                <input type="date" name="data">
                <input type="submit" value="Filtrar" />
            </div>
            <div class="form-group">
                <label class="col-form-label">Assunto:</label>
                <input type="text" name="assunto">
                <input type="submit" value="Filtrar"/>
            </div>
            <div class="form-group">
                <label class="col-form-label">Organizador:</label>
                <input type="text" name="visitado">
                <input type="submit" value="Filtrar"/>
            </div>
        </form>
    </div>
</div>
<hr />
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.Visitados)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReuniaoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReuniaoData)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReuniaoHora)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ReuniaoSala)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.Visitados.VisitadoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReuniaoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReuniaoData)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReuniaoHora)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.ReuniaoSala)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.ReuniaoID">Edit</a> |
                    <a asp-action="Details" asp-route-id="@item.ReuniaoID">Details</a> |
                    <a asp-action="Delete" asp-route-id="@item.ReuniaoID">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
