@model PortariaInteligente.Models.Visitado

@{
    ViewData["Title"] = "Delete";
}

<h3>Excluir</h3>

<h4>Tem certeza de que quer excluir este Visitado?</h4>
<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitadoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitadoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitadoEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitadoEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitadoCel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitadoCel)
        </dd>
    </dl>
    
    <form asp-action="Delete">
        <input type="hidden" asp-for="VisitadoID" />
        <input type="submit" value="Excluir" class="btn btn-danger" /> |
        <a asp-action="Index">Voltar para a Lista</a>
    </form>
</div>
