@model PortariaInteligente.Models.Visitado

@{
    ViewData["Title"] = "Details";
}

<h3>Detalhes do Visitado</h3>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitadoNome)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitadoNome)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitadoEmail)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitadoEmail)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.VisitadoCel)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.VisitadoCel)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Editar" asp-route-id="@Model.VisitadoID">Edit</a> |
    <a asp-action="Index">Voltar para a Lista</a>
</div>
