@model IEnumerable<PortariaInteligente.Models.Visitado>

@{
    ViewData["Title"] = "Index";
}


<div class="row">
    <div class="col-md-6">
        <h4>Filtros</h4>
        <hr />
        <form asp-controller="Visitados" asp-action="Index">
            <div class="form-group">
                <label class="col-form-label"><strong>Nome:</strong></label>
                <input type="text" name="nome"> 
                <input type="submit" value="Filtrar" class="btn btn-primary btn-sm"  />
            </div>
            <div class="form-group">
                <label class="col-form-label"><strong>Email:</strong></label>
                <input type="text" name="email">
                <input type="submit" value="Filtrar" class="btn btn-primary btn-sm" />
            </div>
            <br />
        </form>
    </div>

    <div class="col-md-6">
        <form asp-controller="Visitados" asp-action="Index">
            <h4>
                <a asp-action="Create">Cadastrar Visitado</a>
            </h4>
            <hr />
        </form>
    </div>
</div>

<h3>Visitados Cadastrados</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitadoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitadoEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitadoCel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitadoNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitadoEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitadoCel)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VisitadoID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.VisitadoID">Detalhes</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisitadoID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>
