@model IEnumerable<PortariaInteligente.Models.Visitado>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitadoNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitadoEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitadoCel)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.VisitadoNome)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitadoEmail)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.VisitadoCel)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.VisitadoID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.VisitadoID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.VisitadoID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
