@model IEnumerable<PortariaInteligente.Models.Visitante>

@{
    ViewData["Title"] = "Index";
}

<div class="row">
    <div class="col-md-6">
        <h4>Filtros</h4>
        <hr />
        <form asp-controller="Visitantes" asp-action="Index">
            <div class="form-group">
                <label class="col-form-label"><strong>Nome:</strong></label>
                <input type="text" name="nome"  >
                <input type="submit" value="Filtrar" class="btn btn-primary btn-sm"/>
            </div>
            <div class="form-group">
                <label class="col-form-label"><strong>Empresa:</strong></label>
                <input type="text" name="empresa">
                <input type="submit" value="Filtrar" class="btn btn-primary btn-sm"  />
            </div>
            <div class="form-group">
                <label class="col-form-label"><strong>Email:</strong></label>
                <input type="text" name="email">
                <input type="submit" value="Filtrar" class="btn btn-primary btn-sm"  />
            </div>
            <br />
        </form>
    </div>

    <div class="col-md-6">
        <form asp-controller="Visitantes" asp-action="Index">
            <h4>
                <a asp-action="Create">Cadastrar Visitante</a>
            </h4>
            <hr />
        </form>
    </div>
</div>

<h3>Visitantes Cadastrados</h3>

<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.VisitanteNome)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitanteEmail)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.VisitanteCel)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Empresa)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitanteNome)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitanteEmail)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.VisitanteCel)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Empresa)
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.VisitanteID">Editar</a> |
                    <a asp-action="Details" asp-route-id="@item.VisitanteID">Consultar</a> |
                    <a asp-action="Delete" asp-route-id="@item.VisitanteID">Excluir</a>
                </td>
            </tr>
        }
    </tbody>
</table>


